* {
  box-sizing: border-box;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: left;
  background-color: #f1f1f1;
}

.card-item {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
  font-size: 1.5vw;
}

@media screen and (max-width: 932px) {
  .card-item {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    font-size: 15px;
  }
}

.mySlides {
  width: 360px;
  height: 200px;
  display: none;
  float: right;
}
@media screen and (max-width: 932px) {
  .mySlides {
    float: left;
    width: 360px;
    height: 200px;
    display: none;
  }
  .myinfo {
    font-family: cursive;
    margin: 0;
    width: 250px;
    height: auto;

    float: left;
    font-size: medium;
  }
}

.article {
  float: left;
  font-family: cursive;
  text-align: justify;
}

.article h2 {
  color: rgb(189, 28, 103);
  font-family: cursive;
}

.article ul li a {
  color: rgb(14, 66, 30);
  font-family: cursive;
  margin-left: 30px;
}

.myinfo {
  font-family: cursive;
  width: auto;
  height: 200px;

  float: left;
  font-size: large;
}

#footer {
  background-color: black;
  color: white;
  text-align: center;
}
